extends layout

block content
  h1= title
  - const results = [{ motor_name: "Toyota", motor_model: "Camry", motor_price: 25000 },{ motor_name: "Honda", motor_model: "Civic", motor_price: 22000 },{ motor_name: "Ford", motor_model: "F-150", motor_price: 35000 }]
  .container-fluid
    .row
      each motor,index in results
        div(class="col-sm-2" onclick=`buy(${index})`)
          h3 #{motor.motor_name}
          p Model: #{motor.motor_model}
          p Price: $#{motor.motor_price}
  
  script.
    function buy(index) {
        alert(`You purchased : ${index}`)
    }
